#askQuestion, label {
    display: block; /* Makes each element take the full width available, starting on a new line */
    margin-bottom: 8px; /* Adds some space below each element */
    
}
textarea {
        display: block;
        width: 100%; /* Makes the textarea width responsive to the container's width */
        height: auto; /* Adjust height automatically based on rows */
        box-sizing: border-box; /* Includes padding and border in the element's total width and height */
        padding: 8px;
        border-radius: 4px;
        margin-top: 18px;
        max-width: 450px;
    }
    #tag{
        margin-top:10px;
        margin-right:10px;
        max-width: 120px;
        padding: 4px;
    }
    #tagsLabel{
        margin-top:20px;
    }
    #questionImgLabel{
        margin-top:25px;
        margin-bottom:18px;
    }
    .submitQuestion {
        display: block;
        padding: 10px 20px; /* Adjust padding to make the button larger */
        background-color: #007BFF; /* A nice blue color for the button */
        color: white; /* White text color for better contrast */
        border: none; /* No border for a modern look */
        border-radius: 5px; /* Slightly rounded corners for a softer look */
        cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
        font-size: 16px; /* Larger font size for better readability */
        transition: background-color 0.3s; /* Smooth transition for hover effect */
        margin-top:30px;
        align-items:center;
}

.submitQuestion:hover {
    background-color: #0056b3; /* Darker shade of blue on hover for interactive feedback */
}
.button-container{
    display: flex;
    justify-content: center; /* Centers the button horizontally in the container */
    align-items: center;
}
.alert{
    background: #e0eee6;
    color: #2e8b57;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    text-align:center;

}