#askQuestion, label {
    display: block; 
    margin-bottom: 8px; 
    
}
textarea {
        display: block;
        width: 100%; 
        height: auto; 
        box-sizing: border-box; 
        padding: 8px;
        border-radius: 4px;
        margin-top: 18px;
        max-width: 450px;
    }
    #tag{
        margin-top:10px;
        margin-right:10px;
        max-width: 120px;
        padding: 4px;
    }
    #tagsLabel{
        margin-top:20px;
    }
    #questionImgLabel{
        margin-top:25px;
        margin-bottom:18px;
    }
    .submitQuestion {
        display: block;
        padding: 10px 20px; 
        background-color: #007BFF; 
        color: white; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        font-size: 16px;
        transition: background-color 0.3s;
        margin-top:30px;
        align-items:center;
}

.submitQuestion:hover {
    background-color: #0056b3;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert{
    background: #e0eee6;
    color: #2e8b57;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    text-align:center;

}