.tags{
	font-size:12px;
	margin-top:5px;
	background-color:#d1d1e0;
	padding:1px 8px 1px 8px;
	border-radius:7px;
	display: inline-block;
}
		
#content main form {
    max-width: 400px;
    width: 100%;
    margin: 0 200px 40px;


}

#content main form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

#content main form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border:1px solid #3C91E6;
    background: white;
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

#content main form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.data{
    width:800px;
    background-color:#cce0ff;
}
.question-stats {
    color: #666;
    font-size: 14px;
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    flex-grow: 0; 
    white-space: nowrap;
    margin-top:25px;
}
.data{
	border:1px solid #3C91E6;
	
}

.question-stats span {
    margin-right: 5px;
    background-color: #ddd;
    border-radius: 5px;
    padding: 2px 8px;
}
.question-card {
    background-color:#cce0ff;
    border: 1px solid #dcdcdc;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-text {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.answerButton {
    padding: 5px 10px;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 15px;
    display: inline-block; 
}

.answerButton:hover {
    background-color: #45a049; 
}
.sendButton {
background-color: #3C91E6;
color: white; 
border: none; 
border-radius: 5px; 
font-size: 15px; 
padding: 5px 10px;
cursor: pointer; 
transition: background-color 0.3s, box-shadow 0.3s;
margin-top:15px;
}

.viewAnswers {
			
font-size: 14px; 
cursor: pointer; 
display: inline-block; 
margin-right: auto;
margin-left:14px;
}

.answers{
	font-size: 14px;
	margin-top:15px;
	border-radius: 8px;
	padding: 10px;
	border:1px solid #3C91E6;
	background-color:white;
}
hr{
	margin:10px 0px 10px 0px;
}